.doctor-message {
    background-image: url('../../assets/images/slider/slider3.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.doctor-message .inner-lay {
    background-color: rgba(0, 171, 159, 0.9);
    padding: 50px;
    padding-bottom: 0px;
    color: var(--white);
}

@media screen and (max-width: 940px) {
    .doctor-message .inner-lay {
        padding: 30px 10px;
    }
}

@media screen and (max-width: 768px) {
    .doc-img {
        height: 27rem;
        padding: 4rem 0;
    }
}

.doctor-message .doc-img {
    text-align: center;
}

.doctor-message .doc-img img {
    width: 400px;
    margin-top: -140px;
}

.doctor-message .doc-det h2 {
    font-size: 42px;
    margin-bottom: 0px;
}

.doctor-message .doc-det span {
    font-weight: 600;
    margin-top: -5px;
}

.doctor-message .doc-det p {
    margin-top: 30px;
    font-size: 18px;
    text-indent: 20px;
}

.doctor-message .doc-det h4 {
    margin-top: 30px;
}