.footer {
    padding: 50px;
    padding-bottom: 0px;
    background-color: #444;
    color: #FFF;
}

@media screen and (max-width: 940px) {
    .footer {
        padding: 30px 10px;
    }
}

.footer h2 {
    font-size: 26px;
    margin-top: 10px;
}

.footer p {
    text-align: justify;
    text-indent: 20px;
}

.footer .link-list li {
    padding: 10px;
    border-bottom: 1px solid #6C6C6C;
}

.footer .link-list li a {
    color: #FFF;
}

.footer .link-list li i {
    float: right;
}

.footer .map-img {
    font-weight: 600;
    font-size: 17px;
    padding-left: 20px;
}

.copy {
    padding: 20px;
    background-color: #2E2E2E;
    color: #FFF;
}

.copy a {
    color: #FFF;
}

.copy span {
    float: right;
}

.copy span i {
    margin-right: 20px;
}

@media screen and (max-width: 777px) {
    .copy span {
        display: none;
    }
}